a {
  text-decoration: none;
  color: black;
}

button {
  padding: auto;
}

h1, h2, .social-button {
  font-family: 'Raleway', sans-serif;
}

i {
  display: inline;
}

img {
  width: 100%;
  height: auto;
}

.picture {
  max-width: 400px;
}

p {
  margin-bottom: 0;
}

ul {
  text-align: center;
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
}

.about-me {
  display: flex;
  justify-content: center;
}

.about-page {
  overflow: hidden;
}

.about-me-section {
  margin-bottom: 50px;
}

.bio {
  width: 50%;
  text-align: center;
}

.button-box {
  width: 100%;
}

.button-contents {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.button-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
}

.button-left {
  margin-right: 15px;
}

.button-right {
  margin-left: 15px;
}

.footer-content {
  font-size: 12px;
}

.main {
  margin-top: 10px;
}

.nameplate {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
}

.navbar {
  background-color: #D6F4F7;
}

.no-scroll {
  max-width: 100%;
}

.picture {
  border: 1px solid black;
}

.project-box {
  padding: 10px;
  border-top: 1px solid rgb(189, 187, 187);
  text-align: center;
}

.project-box-2 {
  padding: 10px;
  border-bottom: 1px solid rgb(189, 187, 187);
  border-top: 1px solid rgb(189, 187, 187);
  text-align: center;
}

.project-thumb {
}

.project-title {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.social-button {
  border: 1px solid black;
  border-radius: 25px;
  display: inline;
  align-items: center;
  justify-content: center;
  background-color: #D6F4F7;
  width: 100px;
  height: auto;
  margin-top: 10px;
}

.social-media {
  display: flex;
}

.main {
  margin-bottom: 40px;
}

.portfolio-head {
  display: flex;
  justify-content: center;
}

.title-card {
  margin-left: 15px;
}

.typewriter {
  width: 25%;
  height: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
 }


#icon {
  display: flex;
  align-items: center;
}
